/ {
  combos {
    compatible = "zmk,combos";
    combo_caps {
        timeout-ms = <50>;
        key-positions = <16 38>;
        bindings = <&u_caps_word>;
    };
  };
  behaviors {
    u_mt_x: u_mt_x {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping_term_ms = <U_TAPPING_X_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    tdnm: td_num_to_media {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = U_LT(U_NUM, ESC), U_LT(U_NAV, ESC), U_LT(U_MEDIA, ESC);
    };
    tdms: td_mouse_to_sym {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <150>;
      bindings = U_LT(U_MOUSE, TAB), U_LT(U_SYM, TAB), U_LT(U_FUN, TAB);
    };
  };
};
