# https://github.com/manna-harbour/miryoku

name: 'Kevins Corne 6 Column'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano"]'
      shield: '["corne_left nice_view_adapter nice_view","corne_right nice_view_adapter nice_view"]'
      custom_config: '["#define KEVIN_TAP_GAME_6"]'
      branches: '["zmkfirmware/zmk/main"]'
