# https://github.com/manna-harbour/miryoku

name: 'Kevins Corne Mouse'
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano"]'
      shield: '["nice_view_adapter nice_view corne_left","nice_view_adapter nice_view corne_right"]'
      kconfig: '["CONFIG_ZMK_POINTING=y\nCONFIG_ZMK_DISPLAY=y"]'
      branches: '["zmkfirmware/zmk/main"]'